.person-cart{
    box-shadow: 3px 3px 7px grey;
    border-radius: 10px;
    margin: 25px;
    padding: 18px;
    /* width: 95%; */
}
.person-cart img{
    border-radius: 50%;
}
.minusBtn{
    border: 1px solid grey;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: rgb(230, 129, 20);
    padding: 4px 20px;
    margin-bottom: 10px;
}
.minusBtn:active{
    font-size: 13px;
    outline: none;
    border: 1px solid rgb(13, 25, 241);
}