.App-logo{
  background-color: #282c34;
  margin: 0;
  min-width: 60vh;
}
.App-logo img {
  animation: App-logo-spin infinite 10s linear;
}

.main{
  width: 70%;
  border-right: 2px solid lightgrey;
  text-align: center;
}

.details{
  width: 100%;
}

.add{
  width: 30%;
  text-align: center;
}
@media (max-width: 710px){
  .add{
    width: 45%;
  }
  @media (max-width: 426px){
    .add{
      width: 60%;
      text-align: center;
    }
    @media (max-width: 321px){
      .main-add{
        display: flex;
        flex-flow: column-reverse;
        /* text-align: right; */
        /* justify-content: space-between; */
      }
      .add{
        width: initial;
        text-align: center;
        position: relative;
        left: 20%;
      }
      .main{
        width: initial;
      }
    }
  }
}
.main-add{
  display: flex;
  /* justify-content: center; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
